.repository-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.repository-header-container {
    max-width: 800px;
    width: 100%;
    border-bottom: 1px solid rgb(80, 84, 99);
    padding-bottom: 1rem;
    margin-left: 1rem;
}
.repository-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 1rem;
    width: 100%;
    max-width: 800px;
    
}
.repository-main-left {
    flex: 4;
}
.repository-about {
    padding-right: 1rem;
    padding-left: 1rem;
    flex: 1;
    max-width: 200px;
    min-width: 0;
    
}
.repository-about-header {
    padding-top: 1.5rem;
    padding-bottom: 1.1rem;
}
.repository-description {
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: rgb(175, 175, 175);
    
}


.repository-options-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding-bottom: .5rem;
    padding-top: 1rem;
    gap: 1rem;
}
.repository-commits {
    font-weight: 500;
    padding: 4px;
    border-radius: 4px;
}
.repository-commits:hover {
    cursor: pointer;
    background-color: rgba(82, 119, 175, 0.226);
}

.branch-selector {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(80, 84, 99);
    border-radius: 5px;
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #05101f;
    min-height: 15px;
}

.repository-file-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    border: 1px solid rgb(80, 84, 99);
    border-radius: 5px;
    flex-direction: column;
    margin-top: .5rem;

}



.repository-file-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #05101f;
    border-radius: 5px;
    min-height: 15px;
}
.repository-file {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: .5rem;
    padding-top: .5rem;
    border-top: 1px solid rgb(80, 84, 99);
    padding-left: 1rem;
    padding-right: 1rem;
}

.file-name {
    width: 40%;
}
.file-last-commit {
    flex-grow: 1;
    color: rgb(126, 124, 124);
}

.file-date {
    color: rgb(126, 124, 124);
}

.repository-name {
    font-size: 2rem;
}
